.welcome {
	height: 400px;
	width: 50%;
	border: 1px solid grey;
	border-radius: 5px;
  margin: 50px auto;
  background-color: white;  
}

body {

	background-image: url('https://farm9.staticflickr.com/8332/8451032652_b2bf0bdadc_h.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-image {
  height: 100px;
  display: block;
  margin: 40px auto;
}

#submit {
  display: block;
  margin: 20px auto;
  background-color: rgb(26, 191, 223);
  border: 1px solid rgb(26, 191, 223);
  border-radius: 5px;
  color: white;
  font-size: 18px;
}